/* style.css */
:root{
    /* 여기에 --변수 만듦 */
    --main-color:#182883;
    --sub-color:#f1c40f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    background: #ccc;
    background-image: url(images/img-3.jpg);
    background-size: cover;
    /* 화면 높이값에 맞춰 채움 */
    height: 100vh;
    background-position: center;
    font-family: Inconsolata, sans-serif;
    font-size: 18px;
    min-width: 1100px;
}
#main-header{
    background:rgba(0,0,0,0.4);
    color:#fff;
    height: 80px;
}
#gnb a{
    color: #fff;
}

img{
    float: left;
    width: 100px;
    height: 60px; 
    margin-left: 40px;
    margin-top: 10px;
} 
#main-header #main_gnb{
    float: right;
    margin-right: 30px;
}
#gnb >li{
    display: inline-block;
    margin-left: 3em;
}
#main_gnb{
    /* outline: 1px solid red; */
    margin-top: 28px;
}
#main_gnb #gnb{
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
}
#main_gnb #gnb a:hover{
    background: rgb(255, 255, 255);
    color: rgba(209, 15, 209, 0.562);
}
#main_gnb .search-box{
    display:inline-block;
    margin-left: 2em;
    color: red;
}

#main_gnb .search-box .search{
    padding: 5px 10px;
    margin-bottom: 4px;
    vertical-align: middle;
}
#main_gnb .search-box button{
    padding: 5px;
    background: var(--main-color);
    color: #fff;
    border-style: none;
}



/* 타이틀 */
.title {
    font-size:40px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    /* 변형속성: 이동(위치조정) */
    transform: translate(-50%, -150%);
    float: right;
    text-align: center;
    text-shadow: 0 0 8px #000;
}
.view{
    font-size:24px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    /* 변형속성: 이동(위치조정) */
    transform: translate(-50%, -50%);
    float: right;
    text-align: center;
    /* text-shadow: 0 0 8px #000; */
    height: auto;
    width: auto;
   background: rgba(231, 226, 226, 0.705);
   
}

.view a:hover{
    background: rgb(255, 255, 255);
    color: rgba(209, 15, 209, 0.562);
}
#time{
    font-size:30px;
    color: #fff;
    /* 변형속성: 이동(위치조정) */
    float: right;
    text-align: center;
    margin-top: 20px;
    margin-right: 50px;
    text-shadow: 0 0 8px #000;
}

#clock{
    font-size:30px;
    color: #fff;
    /* 변형속성: 이동(위치조정) */
    float: right;
    text-align: center;
    margin-top: 60px;
    margin-right: -170px;
    text-shadow: 0 0 8px #000;

}



/* 메뉴가 hover시 메인컬러 텍스트 반영(var 함수 활용) */
